<h1 class="text-center"><%= @hive.name %></h1>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="well">
      <h3>Hive Info</h3>
      <p><%= @hive.description %></p>

      <% if @site.user == current_user %>
        <%= link_to "Submit a New Hive Log", new_dashboard_site_hive_log_path(@site, @hive), class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Logs for <%= @hive.name %></h3>
      </div>
      <ul class="list-group">

        <% if @logs.empty? %>
          <li class="list-group-item">No logs for this hive yet</li>
        <% else %>
          <% @logs.each do |log| %>
            <li class="list-group-item">
              <h5><%= log.created_at.strftime("%B %-d, %Y %l:%M%P") %></h5>
              <p><%= simple_format(log.notes) %></p>
              <%= image_tag log.log_img.url(:large), class: "log-image" %>
            </li>
          <% end %>
        <% end %>

      </ul>
    </div>
  </div>
</div>
