<h1 class="text-center"><%= @site.name %></h1>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
      <div class="well col-md-12">
        <div id="site-show-map" data-id="<%= @site.id %>">
        </div>

        <h3>About <%= @site.name %>:</h3>
        <p><%= @site.description %></p>

        <% if @site.user == current_user %>
          <% if @site.status == "Healthy" %>
            <%= link_to "Set Site Status as Sick", dashboard_site_path(@site, site: {status: "Sick"}), method: :put, class: "status-link btn btn-danger" %>
          <% else %>
            <%= link_to "Set Site Status as Healthy", dashboard_site_path(@site, site: {status: "Healthy"}), method: :put, class: "status-link btn btn-success" %>
          <% end %>
        <% end %>

        <% if @site.user != current_user %>
          <!-- Move this to presenter -->
          <!-- link_to @presenter.following_button_text, @presenter.following_button_path, remote: true, class: "btn", @presenter.following_button_id -->
          <% if current_user.following_ids.include?(@site.id) %>
            <%= link_to "Unfollow This Site's Hives", unfollow_site_path, remote: true, class: "btn btn-primary", id: "unfollow-button", data: { id: "#{@site.id}" }, method: :post %>
          <% else %>
            <%= link_to "Follow This Site's Hives", follow_site_path, remote: true, class: "btn btn-primary", id: "follow-button", data: { id: "#{@site.id}" }, method: :post %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>

<div class="row">
  <%= render partial: "weather", locals: {weather_days: @weather_days, site: @site} %>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Hives at <%= @site.name %></h3>
      </div>

      <ul class="list-group">
        <% @hives.each do |hive| %>
          <li class="list-group-item">
            <%= link_to hive.name, site_hive_path(@site, hive) %>
            <% if @site.user == current_user %>
              <%= link_to "New Log", new_dashboard_site_hive_log_path(@site, hive), class: "new-log-link btn btn-default" %>
            <% end %>
          </li>
        <% end %>

        <% if @site.user == current_user %>
          <%= link_to "Add a Hive to Your Site", new_dashboard_site_hive_path(@site), class: "list-group-item text-center" %>
        <% end %>
      </ul>

    </div>
  </div>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API']%>">
</script>
