<h1 class="text-center"><%= @site.name %></h1>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
      <div class="well col-md-12">
        <div id="site-show-map" data-id="<%= @site.id %>">
        </div>

        <h3>About <%= @site.name %>:</h3>
        <p><%= @site.description %></p>

        <% image_tag @site.site_img.url(:square) %>

        <%= render partial: "site_actions", locals: {site: @site} %>
      </div>
  </div>
</div>

<div class="row">
  <%= render partial: "weather", locals: {weather_days: @weather_days, site: @site} %>
</div>

<div class="row">
  <%= render partial: "hives", locals: {site: @site, hives: @hives} %>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API']%>">
</script>
