<h1 class="text-center"><%= @site.name %></h1>

<h3>Description</h3>
<p><%= @site.description %></p>

<% if @site.user != current_user %>
  <% if current_user.following_ids.include?(@site.id) %>
    Unfollow This Site's Hives
  <% else %>
    Follow This Site's Hives
  <% end %>
<% end %>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Hives at <%= @site.name %></h3>
    </div>

    <ul class="list-group">
      <% @hives.each do |hive| %>
        <li class="list-group-item">
          <%= link_to hive.name, site_hive_path(@site, hive) %>
          <% if @site.is_owner?(current_user) %>
            <%= link_to "New Log", new_dashboard_site_hive_log_path(@site, hive), class: "new-log-link" %>
          <% end %>
        </li>
      <% end %>

      <% if @site.is_owner?(current_user) %>
        <%= link_to "Add a Hive to Your Site", new_dashboard_site_hive_path(@site), class: "list-group-item text-center" %>
      <% end %>
    </ul>

  </div>
</div>
